<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552191951531-v0lk6bhmvgu3glbaq0jr2t5l04dmcvnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552191951531-v0lk6bhmvgu3glbaq0jr2t5l04dmcvnt</string>
	<key>API_KEY</key>
	<string>AIzaSyBr-myF1k2Ihr6ZdztRqUFxH0O9E_kEYAU</string>
	<key>GCM_SENDER_ID</key>
	<string>552191951531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.iamatstoreapp</string>
	<key>PROJECT_ID</key>
	<string>links-app-d5366</string>
	<key>STORAGE_BUCKET</key>
	<string>links-app-d5366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552191951531:ios:6cdee223f81472d1deadee</string>
</dict>
</plist>